.menu{
    background-color: #007ec4;
    color: #fff !important;
}
header{
    z-index: 10;
    position: fixed;
    width: 100%;
}
.segundo-menu{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 3rem;
    display: block;
}
.segundo-menu li{
    list-style: none;
}
.segundo-menu li a{
    color: #fff;
}
.segundo-menu ul{
    padding-right: 1rem;
}
.buscar{
    border-radius: 1rem 0 0 1rem  !important;
}

.icono{
    border-radius: 0 1rem 1rem 0 !important;
    border: 0 #fff !important;
}

.user{
    border-left: 1px solid #fff;
    font-size: 10px;
    width: 12rem;
    height: 2rem;
    padding-top:5px;
}

.item-carrusel:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.divisor{
    background-color: #007ec4;
    color: #fff;
    height: 4rem;
    padding: 1rem;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.banner .imagen2{
    display:none;
}
.banner:hover .imagen2{
    display: block;
}
.banner:hover .imagen1{
    display: none;
}
.imagen2{
    height: 19rem !important;
}
.segundo-banner{
    width: 100%;
}
.segundo-banner img{
    width: 100%;
}
footer{
    height: 10rem;
    align-items: center;
}
.derechos{
    padding: 0.5rem;
    text-align: center;
    height: 3rem;
}
.botonera-resposive {
    position: fixed;
    background: #007ec4;
    color: #ffff;
    width: 76%;
    height: 100%;
    overflow: auto;
    top: 0;
    right: 0;
    display: none;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}

.botonera-resposive .nav-link{
    display: inline;
    color: #fff;
}
.botonera-resposive li{
    list-style: none;
}
@media screen and (max-width:1200px){
    .btn-menu{
        display: block;
    }
    .segundo-menu ul{
        display: none !important;
    }
    body{
        margin-top: 3rem;
    }
}